body {
    overflow: hidden;
}
.intro {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    z-index: 99999;
    height: 100vh;
    background-color: rgba(255,255,255,0.5);
}

.breif {
    text-align: center;
    padding: 20vh 45vh;
}
.play {
    background-color: #212121;
    color: white;
    padding: 2vh 0vh;
    margin: 0% 30%;
    border-radius: 25px;
    cursor: pointer;
}